@import "../../assets/sass/base";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 100%;
  margin: 0 auto;
}

.modal-btns {
  margin-top: 20px;
  text-align: right;
  button {
    @extend .base-link-color;
    margin-right: 0;
    margin-left: 50px;
  }
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  margin: 10px;
  border: 2px solid $purple;
  border-radius: 100%;
  -webkit-appearance: none;
  background: transparent;
  color: $purple;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $purple;
    color: $lightNude;
  }
}

.modal-body {
  padding: 50px 30px;
  background-color: $lightNude;
  -webkit-box-shadow: 0 0 4px 1px $darkFont;
  -moz-box-shadow: 0 0 4px 1px $darkFont;
  box-shadow: 0 0 4px 1px $darkFont;
  border-radius: 10px;
}
