@import "../../assets/sass/base";
@import "../../assets/sass/breakpointMixins";

.dashboard {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  @include respond-until(md) {
    flex-direction: column-reverse;
  }
  .dash-half-text,
  .dash-half-image {
    width: 50%;
    @include respond-until(md) {
      width: 100%;
    }
    @include respond-until(sm) {
      padding: 30px;
    }
  }
}

.dash-half-text {
  background-color: $orange;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: inherit;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond-until(md) {
    position: unset;
    height: 500px;
  }
  h2 {
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 6rem;
    @include respond-until(sm) {
      font-size: 4rem;
    }
  }
  p {
    margin: 0 auto;
    width: 250px;
    font-size: 1.1rem;
    @include respond-until(sm) {
      text-align: center;
      width: 210px;
    }
  }
}

.dash-half-image {
  background-color: $nude;
  text-align: center;
  img {
    width: 80%;
    @include respond-until(sm) {
      width: 100%;
    }
  }
}
