@import "_colors";
@import "_breakpointMixins";

.burger-wrap {
  .burger-btn {
    background-color: $lightNude;
    border: none;
    cursor: pointer;

    span {
      width: 2rem;
      height: 0.2rem;
      background-color: $darkFont;
      border-radius: 10px;
      transform-origin: 1px;
      transition: all 0.3s linear;

      &:nth-child(1) {
        transform: rotate(0);
        &.open-burger {
          transform: rotate(45deg);
        }
      }
      &:nth-child(2) {
        transform: translateX(0);
        opacity: 1;
        &.open-burger {
          transform: translateX(100%);
          opacity: 0;
        }
      }
      &:nth-child(3) {
        transform: rotate(0);
        &.open-burger {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.burger-content,
.burger-btn {
  width: 2rem;
  height: 2rem;
  z-index: 20;
  display: none;
  &:focus > .burger-content {
    outline: 1px solid $lightNude;
  }
  @include respond-until(sm) {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    &.open-burger {
      background-color: $purple;
    }
  }
}
