@import "_base";
@import "_breakpointMixins";

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  background-color: $pink;
  margin-top: 5%;
  padding: 3%;
  @include respond-until(sm) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  ul.footer-ul {
    list-style: none;
    li a {
      @extend .hover-links;
      margin: 0 20px;
      font-family: "Archivo Black", sans-serif;
      font-size: 1.8rem;
      color: $darkFont;
      text-decoration: none;
    }
  }
  .footer-credits {
    text-align: right;
    @include respond-until(sm) {
      text-align: center;
    }
    a {
      @extend .hover-links;
      text-decoration: none;
      color: $darkFont;
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 16px;
      }
    }

    .footer-logo {
      font-size: 2rem;
      font-family: "Archivo Black", sans-serif;
    }
  }
}
