@import "_colors";
@import "_breakpointMixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: linear-gradient(90deg, $nude 50%, #fff 50%);
  @include md {
    background: $nude;
  }
  color: $darkFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
