@import "./assets/sass/base";
@import "./assets/sass/breakpointMixins";
@import "./assets/sass/grid";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/**
* Lock the scroll position by adding this class to the `<html>` element.
*/
.lock-scroll {
  overflow: hidden !important;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: linear-gradient(90deg, $nude 50%, #fff 50%);
  @include respond-until(md) {
    background: $nude;
  }
  color: $darkFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
