@import "_colors";
@import "_breakpointMixins";

nav {
  height: 100px;
  margin-bottom: 0;
  background-color: $lightNude;
  display: flex;
  align-items: center;
  padding: 0 30px;
  @include respond-until(sm) {
    background: $lightNude;
  }
  h1.logo {
    font-size: 2.5rem;
    font-family: "Archivo Black", sans-serif;
  }
  a {
    color: $darkFont;
    font-size: 1.1rem;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 25px;
    @include respond-until(sm) {
      margin-left: 0;
    }
    background-size: 200% 200%;
    background-image: linear-gradient(to top, $orange 50%, transparent 50%);
    -webkit-transition: background-position 200ms, color 200ms ease,
      border-color 200ms ease;
    -moz-transition: background-position 200ms, color 200ms ease,
      border-color 200ms ease;
    -ms-transition: background-position 200ms, color 200ms ease,
      border-color 200ms ease;
    -o-transition: background-position 200ms, color 200ms ease,
      border-color 200ms ease;
    transition: background-position 200ms, color 200ms ease,
      border-color 200ms ease;
    &:hover {
      color: white;
      cursor: pointer;
      background-image: linear-gradient(to top, $orange 51%, transparent 50%);
      background-position: 0 100%;
      -webkit-transition: background-position 200ms, color 200ms ease,
        border-color 200ms ease;
      -moz-transition: background-position 200ms, color 200ms ease,
        border-color 200ms ease;
      -ms-transition: background-position 200ms, color 200ms ease,
        border-color 200ms ease;
      -o-transition: background-position 200ms, color 200ms ease,
        border-color 200ms ease;
      transition: background-position 200ms, color 200ms ease,
        border-color 200ms ease;
    }
  }
}
