@import "_colors";
@import "_breakpointMixins";

ul.burger-ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;

  li {
    padding: 20px 10px 15px 10px;
  }

  @include sm {
    flex-flow: column nowrap;
    background-color: $purple;
    position: fixed;
    transform: translateX(100%);
    padding: 100px 35px;
    &.open {
      transform: translateX(0);
    }
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    transition: transform 0.3s ease-in-out;

    li {
      font-family: "Archivo Black", sans-serif;
      text-align: right;
      a {
        font-size: 3.5rem;
        text-transform: lowercase;
      }
    }
  }
}
