@import "_base";
@import "_breakpointMixins";

.new-list-container {
  background-color: $orange;
  min-height: 500px;
}

.new-list-content {
  padding: 55px;
  label {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  input {
    height: 40px;
    width: 400px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $darkFont;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 5px;
    &:focus {
      outline: none;
      border: 2px solid $darkFont;
    }
    @include respond-until(sm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  button {
    background-color: transparent;
    border: 2px solid $purple;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: $purple;
    transition: 0.2s ease-in-out;
    &:hover {
      color: $lightNude;
      background-color: $purple;
      cursor: pointer;
    }
  }
}
