@import "_base";
@import "_breakpointMixins";

.new-recipe-container {
  background-color: $orange;
}

.new-recipe-content {
  display: flex;
  @include respond-until(md) {
    flex-direction: column;
  }
  button {
    background-color: transparent;
    border: 2px solid $purple;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: $purple;
    transition: 0.2s ease-in-out;
    &:hover {
      color: $lightNude;
      background-color: $purple;
      cursor: pointer;
    }
  }
}

.new-recipe-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 55px;
  @include respond-until(sm) {
    padding: 30px 30px;
  }

  form:nth-child(1) {
    margin-bottom: 30px;
  }

  label {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  input {
    height: 40px;
    width: 500px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $darkFont;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 5px;

    &:nth-child(1),
    &:nth-child(2) {
      width: 100%;
    }

    &:focus {
      outline: none;
      border: 2px solid $darkFont;
    }
  }
}

// Styles for Ingredients.js
.ing-container {
  display: flex;
  justify-content: space-between;
  form {
    width: 50%;
  }
  @include respond-until(sm) {
    flex-direction: column;
    form {
      width: 100%;
    }
  }
}

.ing-list {
  width: 50%;
  margin: 10px 55px 30px 55px;
  font-size: 2.5rem;
  h4 {
    letter-spacing: 1px;
  }
  p {
    display: flex;
    align-items: center;
  }
  button {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    margin-right: 15px;
  }
  @include respond-until(md) {
    margin: 0 55px 50px 55px;
    font-size: 2.2rem;
  }
  @include respond-until(sm) {
    width: 100%;
    margin-left: 0;
  }
}
