@import "_base";
@import "_breakpointMixins";

.page-header {
  border-bottom: 5px solid $lightNude;
  display: flex;
  flex-direction: column;
  padding: 20px 55px;

  .page-header-title {
    font-size: 4rem;
    color: $darkFont;
  }

  .page-header-btn {
    @extend .base-link-white;
    margin: 3px 45px 3px 0;
  }

  @include respond-until(sm) {
    padding: 20px 30px;
    .btn-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      button {
        text-align: left;
      }
    }
    .page-header-title {
      font-size: 2.2rem;
    }
  }
}
