@import "_colors";

.all-recipes-container {
  background-color: $orange;

  .recipe-list-ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    // for safari
    li::before {
      content: "\200B";
    }
  }
}
