@import "_base";
@import "_breakpointMixins";

.recipe-card {
  display: flex;
  align-items: flex-start;
  padding: 40px 55px;
  @include respond-until(md) {
    justify-content: space-between;
    padding: 20px 55px;
  }
  @include respond-until(sm) {
    padding: 20px 30px;
  }
}

.recipe-title {
  @extend .base-link-white;
  border-bottom: none;
  font-size: 3.5rem;
  color: $darkFont;
  text-decoration: underline;
  @include respond-until(md) {
    font-size: 2.2rem;
  }
}
