@import "_base";
@import "_breakpointMixins";

.recipe-container {
  background-color: $orange;
  color: $darkFont;

  .title-wrap {
    display: flex;
  }

  .recipe-content {
    font-size: 2.5rem;
    padding: 50px 55px;

    p {
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    @include respond-until(sm) {
      font-size: 2.2rem;
      padding: 30px;
    }
  }

  .recipe-ul {
    @extend .no-list-style;
  }
}
